/* regular clients */
.regular-clients-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.regular-clients-title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.regular-clients-list {
  display: flex;

  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border-top: 1px solid rgba(175, 177, 184, 1);
  border-right: 1px solid rgba(175, 177, 184, 1);
  border-bottom: 1px solid rgba(175, 177, 184, 1);
  border-left: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.regular-clients {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
}
.regular-clients-logo {
  width: 170px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients:hover {
  border-top: 1px solid #2196f3;
  border-right: 1px solid #2196f3;
  border-bottom: 1px solid #2196f3;
  border-left: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}
.regular-clients:hover .regular-clients-logo,
.regular-clients:focus .regular-clients-logo {
  fill: #2196f3;
}
