.hero-button {
  color: white;
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
// foter form button
.footer-form-button {
  position: absolute;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;

  right: 0;
  top: 36px;

  border-radius: 4px;
  padding: 10px 29px;
  border: 0px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon-send {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: white;
}
.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
// Modal window button
.modal-form-button {
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 55px;
  border: 0px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #188ce8;
}
